<!DOCTYPE html>
<html ng-app="eCommerceApp">
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.js"></script>
    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="app/app.module.js"></script>
    <script src="app/app.config.js"></script>
    <script src="app/product/product.factory.js"></script>
    <script src="app/product/product.controller.js"></script>
    <script src="app/shoppingCart/cart.controller.js"></script>
    <script src="app/user/user.controller.js"></script>
    <link type="text/css" href="Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/main.css" />
</head>
<body ng-app="eCommerceApp" ng-controller="cartController as cart">
    <nav class="navbar  navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">E-commerce</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#list">Products</a>
                    </li>
                    <li>
                        <a href="#cart">Cart</a>
                    </li>
                </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <div class="bs-docs-header jumbotron" id="content" tabindex="-1">
        <div class="container">
            <h1>E-Commerce</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h1>Products</h1>
                <div ng-app="eCommerceApp.product" ng-controller="productController as productList">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 margin-bottom-20">
                            <div>

                                <label for="filter"> Filter by: </label>
                                <select class="form-control" name="filterByCategory" id="filterByCategory"
                                        ng-model="filterByCategory"
                                        ng-options="category for category in productList.categories"></select>
                            </div>

                        </div>
                        <div class="col-xs-12 col-md-12">

                            <div class="row">

                                <div class="col-xs-6 col-md-3 col-lg-4 margin-bottom-10" ng-repeat="product in productList.products | orderBy: name | filter: filterByCategory ">
                                    <div class="product">
                                        <h3 class="text-primary">{{product.name}}</h3>
                                        <p class="text-info"><p class="label">Price: </p>{{product.price | currency}}</p>
                                        <p class="text-justify">
                                            <span class="label">Details: </span>
                                            <span> {{product.details}} </span>
                                        </p>
                                        <div class="row">
                                            <div class="col-xs-6 col-md-4 col-lg-4">
                                                <p>
                                                    <span class="label"> Quantity:</span>
                                                </p>
                                            </div>
                                            <div class="col-xs-6 col-md-3 col-lg-4">
                                                <input class="form-control input-xs" ng-model="quantity" type="number" id="quantity" />
                                            </div>


                                            <div class="col-xs-12 col-md-5 col-lg-4">
                                                <button class="btn btn-default btn-xs" ng-click="cart.addItem(quantity,product)">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4">
                <h1>Shopping Cart</h1>
                <div class="row">
                    <div class="col-xs-12" ng-repeat="item in cart.shoppingList">
                        <hr />
                        <div class="row">
                            <div class="col-xs-12 col-md-10">
                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <p>{{ item.name }}</p>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <p>
                                        <span class="label"> Quantity:</span>
                                    </p>
                                </div>
                                <div class="col-xs-6 col-md-6 col-lg-6">
                                    <input class="form-control input-xs" ng-model="item.quantity" ng-change="cart.updateProductTotalPrice(item)" type="number" id="quantity" />
                                </div>

                                <div class="col-xs-12 col-md-12 col-lg-12">
                                    <p>
                                        <span class="label"> Total:</span>
                                        <span> {{ item.totalPrice }}</span>

                                    </p>
                                </div>
                            </div>

                            <div class="col-xs-12 col-md-2">
                                <div class="col-xs-2 col-md-1">
                                    <button class="button btn btn-danger close" ng-click="cart.removeItem($index)">&times;</button>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="col-xs-12">
                        <hr />
                        <div>
                            <p>
                                <span class="label"> Total:</span>
                                <span> {{ cart.totalPrice }}</span>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>
